         body {
   background-image: url(../img/sdc.jpg);
    background-repeat: no-repeat center top;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
   
        }
        
        #menu{
            background-color: transparent;
        }
        #menu ul{
            list-style: none;
            margin: 0;
            padding: 0;
			background: #A7EB9C;
        }
        
        #menu ul li{
           display: inline-block;
            padding: 10px;
        }
        
        #menu ul li a{
            color: black;
            display: block;
            padding: 8px 90px;
            text-decoration:  none;
        }
        #menu ul li a:hover{
			display: block;
            background-color: cornflowerblue;
			
			
			
        
}

input[type="submit"], 
input[type="reset"] {
background:#60e4ef;	
padding: 5px 10px;
}

h2{
    position: center;
    font-family: sans-serif;
}

h4{
    margin: -5px;
    font-family: sans-serif;
	text-align: center;
	
}

p{
    margin: -5px;
    font-family: sans-serif;

}

/*DISEÑO DEL PIE DE PAGINA*/
footer {
    position: fixed;
    background: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    color: black;
}

/*DEFINE LO ANCHO AUTOMATICAMENTE */
.pie {
    width:auto;
    margin:0 auto;
}


/*
.nav li a {
	background-color: lightskyblue;
	color: #fff;
}


.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	display: none;
	
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open Sans';
	text-decoration: none;
	
}

.menu li:hover .submenu{
	display: block;

*/
